// Specific CSS for your home-page
.flex-form {
  display: flex;
  justify-content: space-around;
  margin-top: 45vh;
}

.flex-stretch {
  flex: 1 0 auto;
}

.banner {
  height: 100vh;
  background-size: cover;
}

.searchbox {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  height: 60px;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
}
