// Specific CSS for your home-page
.flex-form {
  display: flex;
  justify-content: space-around;
}

.flex-stretch {
  flex: 1 0 auto;
}

.banner {
  height: calc(100vh - 70px);
  background-size: cover;
}

// .searchbox {
//   -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
//   -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
//   box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
//   height: 80px;
//   align-items: center;
//   background-color: rgba(1, 1, 1, 0.2);
//   padding: 10px 20px;
//   border-radius: 20px;
// }

.input-field {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  height: 50px;
  color: rgb(20, 20, 20);
  margin-right: 10px;
  font-size: 20px;
  font-family: 'Cairo', sans-serif;
  letter-spacing: 1px;
  overflow: hidden;
  margin-bottom: 20px;
}

.input-field::placeholder {
  color: rgba(1, 1, 1, 0.4);
}

.search-button {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
  background-color: $blue;
  color: white;
  height: 50px;
  border-radius: 15px;
  font-size: 20px;
  font-family: 'Cairo', sans-serif;
}

.call-to-action {
  margin-top: -22vh;
}

.call-to-action h1 {
  font-size: 70px;
}
.call-to-action h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.sub-banner{
  color: black;
}

.add-info {
  padding: 20px;
}
.add-info2 {
  padding: 20px;
}
.add-info3 {
  padding: 20px;
}
.add-info4 {
  padding: 20px;
}

.footer-banner {
  color: black;
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.avatar-front {
  border-radius: 40%;
}


