<div class="wrapper banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://3.bp.blogspot.com/-eoATvZkAiAg/VZaqEI1nLzI/AAAAAAAACXg/140hoGl5Sw8/s1600/confused%2B%25281%2529.jpg');">
  <div class="container">
    <div class="row">
      <div class="call-to-action text-center">
        <h1>Try any job you'd like!</h1>
        <h2>Step in the shoes of a pilot, a therapist or a clown for one day.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <%= form_tag(jobs_path, method: :get) do %>
          <div class="form-inline flex-form searchbox">
            <%= text_field_tag :query, params[:query], placeholder: "What job are you looking for?", class:"form-control flex-stretch" %>
            <%= submit_tag 'Search', name: nil, class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


