.card {
  height: auto;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.06);
  margin: 20px;
  transition: all 0.5s;
  padding-bottom: 8px;
  background-color: white;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  height: 175px;
  background-size: cover !important;
  background-position: center;
  color: white;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}

.card-footer {
  height: 200px;
  display: flex;
  align-items: center;
}


.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
}

.card-description h2 {
  font-size: 24px;
  color: black;
}


.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  text-transform: capitalize;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  text-decoration: none;
  opacity: 0.1;
}
